<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>proyecto</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/style.css'>

</head>
<body>
    <section>
        <p>inicio</p>
        <nav>
            <ul>
                <li>menu</li>
                <li>reseñas</li>
                <li>reservas</li>
                <li>registro</li>
            </ul>
        </nav>

        
    </section>

    <section id="menu">
        <a href="menu.html">menu</a>
    </section>
    
    <section id="reseñas">
        <a href="reseñas.html">reseñas</a>
    </section>
    
    <section id="reservas">
        <a href="reservas.html">reservas</a>
    </section>
    
    <section id="registro">
        <a href="registro.html">registro</a>
    </section>

    <a href="#minutas">minutas</a>
    <br>
    <a href="#pastas">pastas</a>
    <br>
    <a href="#picadas-container">picadas</a>
    
    <div id="menu" class="menu">
     <div id="minutas" class="minutas-container">
        <div class="---">
            <h2>---</h2>
            <p>---</p>
            <img src="" style="width: 300px; height: 150px;">
        </div>

        <div class="---">
            <h2>---</h2>
            <p>---</p>
            <img src="" style="width: 300px; height: 150px;">
        </div>

        <div class="---">
            <h2>---</h2>
            <p>---</p>
            <img src="" style="width: 300px; height: 150px;">
        </div>
    </div>

    <div id="pastas" class="pastas-container">
        <div>
            <div class="---">
                <h2>---</h2>
                <p>---</p>
                <img src="" style="width: 300px; height: 150px;">
        </div>

        <div>
            <div class="---">
                <h2>---</h2>
                <p>---</p>
                <img src="" style="width: 300px; height: 150px;">
        </div>

        <div>
            <div class="---">
                <h2>---</h2>
                <p>---</p>
                <img src="" style="width: 300px; height: 150px;">
        </div>
    </div>

    <div id="picadas-container" class="picadas-container">
        <div>
            <div class="---">
                <h2>---</h2>
                <p>---</p>
                <img src="" style="width: 300px; height: 150px;">
        </div>

        <div>
            <div class="---">
                <h2>---</h2>
                <p>---</p>
                <img src="" style="width: 300px; height: 150px;">
        </div>
        
        <div>
            <div class="---">
                <h2>---</h2>
                <p>---</p>
                <img src="" style="width: 300px; height: 150px;">
        </div>
    </div>


    <script src='main.js'></script>
</body>
</html>