<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>registro</h1>
    <div class="registro-container">
        <p>Ingrese su nombre:</p>
        <input type="text" placeholder="Ingrese su nombre...">
        <br>
        <p>Ingrese su apellido</p>
        <input type="text" placeholder="Nombre...">
        <br>
        <pr>Ingrese su email:</pr>
        <input type="email" placeholder="ejemplo@ejemplo.com">
        <br>
        <p>Ingrese su numero</p>
        <input type="number" placeholder="---">
        <br>
        <input type="button" value="Enviar">
        <br>
        <a href="index.html">Volver</a>
    </div>
</body>
</html>