<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>

    <!-- HEADER -->
    <div id="header">
        <div>
            <a href="index.html"><img id="logo" src="../static/image/LogoRestaurant.jpeg" alt="LogoRestaurant"></a>
        </div>
    
        <div class="enlaces">
            <a id="link" href="index.html">Inicio</a>
            <a id="link" href="menu.html">Menú</a>
            <a id="link" href="registro.html">Registro</a>
            <a id="link" href="reservas.html">Reservas</a>
            <a id="link" href="reseñas.html">Reseñas</a>
        </div>
    
        <div>
            <a href="https://www.instagram.com" target="_blank"><i class="iconos fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="iconos fa-brands fa-facebook"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="iconos fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="iconos fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    

    <div class="registro-completo">

        <div class="container-form register">
            <div class="information">
                <div class="info-childs">
                    <h2>Bienvenido</h2>
                    <p>Para unirte a nuestra comunidad por favor Inicia Sesión con tus datos</p>
                    <input type="button" value="Iniciar Sesión" id="sign-in">
                </div>
            </div>
            <div class="form-information">
                <div class="form-information-childs">
                    <h2>Crear una Cuenta</h2>
                    <div class="icons">
                        <i class='bx bxl-google'></i>
                        <i class='bx bxl-facebook'></i>
                    </div>
                    <p>o usa tu email para registrarte</p>
                    <form class="form form-register" novalidate>
                        <div>
                            <label>
                                <i class='bx bx-user' ></i>
                                <input type="text" placeholder="Nombre Usuario" name="userName" >
                            </label>
                        </div>
                        <div>
                            <label >
                                <i class='bx bx-envelope' ></i>
                                <input type="email" placeholder="Correo Electronico" name="userEmail" >
                            </label>
                        </div>
                       <div>
                            <label>
                                <i class='bx bx-lock-alt' ></i>
                                <input type="password" placeholder="Contraseña" name="userPassword">
                            </label>
                       </div>
                       
                        <input type="submit" value="Registrarse">
                        <div class="alerta-error">Todos los campos son obligatorios</div>
                        <div class="alerta-exito">Te registraste correctamente</div>
                    </form>
                </div>
            </div>
        </div>
        
        
        
        <div class="container-form login hide">
            <div class="information">
                <div class="info-childs">
                    <h2>¡¡Bienvenido nuevamente!!</h2>
                    <p>Para unirte a nuestra comunidad por favor Inicia Sesión con tus datos</p>
                    <input type="button" value="Registrarse" id="sign-up">
                </div>
            </div>
            <div class="form-information">
                <div class="form-information-childs">
                    <h2>Iniciar Sesión</h2>
                    <div class="icons">
                        <i class='bx bxl-google'></i>
                        <i class='bx bxl-facebook'></i>
                    </div>
                    <p>o Iniciar Sesión con una cuenta</p>
                    <form class="form form-login" novalidate>
                        <div>
                            <label >
                                <i class='bx bx-envelope' ></i>
                                <input type="email" placeholder="Correo Electronicoo" name="userEmail" id="inputEmail">
                            </label>
                        </div>
                        <div>
                            <label>
                                <i class='bx bx-lock-alt' ></i>
                                <input type="password" placeholder="Contraseña" name="userPassword" id="inputPass">
                            </label>
                        </div>
                        <input type="submit" value="Iniciar Sesión">
                        <div class="alerta-error">Todos los campos son obligatorios</div>
                        <div class="alerta-exito">Iniciaste sesión correctamente</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a href="index.html">Volver a la pagina pricipal</a>
    
    
    
    <!-- FOOTER -->
    <div id="footer">
        
        <div class="enlaces">
            <a id="link" href="index.html">Inicio</a>
            <a id="link" href="menu.html">Menú</a>
            <a id="link" href="registro.html">Registro</a>
            <a id="link" href="reservas.html">Reservas</a>
            <a id="link" href="reseñas.html">Reseñas</a>
        </div>
        <br>
        <div>
            <a href="www.instagram.com" target="_blank"><i class="iconos fa-brands fa-instagram"></i></a>
            <a href="www.facebook.com" target="_blank"><i class="iconos fa-brands fa-facebook"></i></a>
            <a href="www.twitter.com" target="_blank"><i class="iconos fa-brands fa-twitter"></i></a>
            <a href="www.linkedin.com" target="_blank"><i class="iconos fa-brands fa-linkedin"></i></a>
        </div>

    </div>
    <script src="/static/src/script.js"></script>
    <script src="/static/src/registro.js" type="module"></script>
    <script src="/static/src/iffe_login.js"></script>
</body>

</html>