<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="../static/styles/style.css">
    <link rel="shortcut icon" href="../static/image/LogoRestaurant.jpeg">
    <script src="https://kit.fontawesome.com/f08f817e21.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='main.js'></script>
</head>

<body>

    <!-- HEADER -->
    <div id="header">
        <div>
            <a href="index.html"><img id="logo" src="../static/image/LogoRestaurant.jpeg" alt="LogoRestaurant">
            </a>
        </div>

        <div class="enlaces">
            <a id="link" href="index.html">Inicio</a>
            <a id="link" href="menu.html">Menú</a>
            <a id="link" href="registro.html">Registro</a>
            <a id="link" href="reservas.html">Reservas</a>
            <a id="link" href="reseñas.html">Reseñas</a>
        </div>

        <div>
            <a href="www.instagram.com" target="_blank"><i class="iconos fa-brands fa-instagram"></i></a>
            <a href="www.facebook.com" target="_blank"><i class="iconos fa-brands fa-facebook"></i></a>
            <a href="www.twitter.com" target="_blank"><i class="iconos fa-brands fa-twitter"></i></a>
            <a href="www.linkedin.com" target="_blank"><i class="iconos fa-brands fa-linkedin"></i></a>
        </div>
    </div>

    <div class="registro-completo">

        <div class="container-form registro">
            <div class="informacion">
                <div class="info_childs">
                    <h2>Bienvenido</h2>
                    <p>Para unirte a nuestra comunidad por favor inicia sesion con tus datos</p>
                    <input type="button" value="iniciar sesion" id="sign-in">
                </div>
            </div>
            <div class="form-informacion">
                <div class="form-informacion-childs">
                    <h2>crear una cuenta</h2>
                    <div class="icons">
                        <i class='bx bxl-google'></i>
                        <i class='bx bxl-github'></i>
                        <i class='bx bxl-linkedin'></i>
                    </div>
                    <p>O usa tu email para registrarte</p>
                    <form class="form form-registro" novalidate>
                        <div>
                            <label>
                                <i class='bx bx-user'></i>
                                <input type="text" placeholder="Nombre Usuario" name="userName">
                            </label>
                        </div>
                        <div>
                            <label>
                                <i class='bx bx-envelope'></i>
                                <input type="email" placeholder="correo electronico" name="userEmail">
                            </label>

                        </div>
                        <div>
                            <label>
                                <i class='bx bx-lock-alt'></i>
                                <input type="password" placeholder="Contraseña" name="userpassword">
                            </label>
                        </div>
                        <input type="submit" value="Registrarse">
                        <div class="alerta-error">Todos los campos son obligatorios</div>
                        <div class="alerta-exito">Iniciaste sesion correctamente</div>
                    </form>
                </div>
            </div>
        </div>







        <div class="container-form login hide ">
            <div class="informacion">
                <div class="info_childs">
                    <h2>Bienvenido nuevamente!</h2>
                    <p>Para unirte a nuestra comunidad por favor inicia sesion con tus datos</p>
                    <input type="button" value="registrarse" id="sign-up">
                </div>
            </div>
            <div class="form-informacion">
                <div class="form-informacion-childs">
                    <h2>Iniciar sesion</h2>
                    <div class="icons">
                        <i class='bx bxl-google'></i>
                        <i class='bx bxl-github'></i>
                        <i class='bx bxl-linkedin'></i>
                    </div>
                    <p>O iniciar sesion con una cuenta</p>
                    <form class="form form-login" novalidate>
                        <div>
                            <label>
                                <i class='bx bx-envelope'></i>
                                <input type="email" placeholder="correo electronico" name="userpassword">
                            </label>
                        </div>
                        <div>
                            <label>
                                <i class='bx bx-lock-alt'></i>
                                <input type="password" placeholder="Contraseña" name="userpassword">
                            </label>
                        </div>
                        <input type="submit" value="Iniciar sesion">
                        <div class="alerta-error">Todos los campos son obligatorios</div>
                        <div class="alerta-exito">Iniciaste sesion correctamente</div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <a href="index.html">Volver</a>



    <!-- FOOTER -->
    <div id="footer">

        <div class="enlaces">
            <a id="link" href="index.html">Inicio</a>
            <a id="link" href="menu.html">Menú</a>
            <a id="link" href="registro.html">Registro</a>
            <a id="link" href="reservas.html">Reservas</a>
            <a id="link" href="reseñas.html">Reseñas</a>
        </div>
        <br>
        <div>
            <a href="www.instagram.com" target="_blank"><i class="iconos fa-brands fa-instagram"></i></a>
            <a href="www.facebook.com" target="_blank"><i class="iconos fa-brands fa-facebook"></i></a>
            <a href="www.twitter.com" target="_blank"><i class="iconos fa-brands fa-twitter"></i></a>
            <a href="www.linkedin.com" target="_blank"><i class="iconos fa-brands fa-linkedin"></i></a>
        </div>

    </div>
    <script src="/static/src/script.js"></script>
</body>

</html>