<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Reseñas</h1>
    <h2>¡Nos encantaría saber tu opinión! Dejanos una reseña y contanos qué te pareció nuestro restaurante.</h2>

    <textarea style="width: 100%; width: 150px" placeholder="Escriba su reseña..."></textarea>
    <!--<input type="text" placeholder="Escriba su mensaje..." style="width: 100%; width: 150px">--> 
    <br>
    <a href="index.html">Volver</a>
</body>
</html>