<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Reseñas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="../static/styles/style.css">
    <link rel="shortcut icon" href="../static/image/LogoRestaurant.jpeg">
    <script src="https://kit.fontawesome.com/f08f817e21.js" crossorigin="anonymous"></script>
    <script src='main.js'></script>
</head>
<body>

    <!-- HEADER -->
<div id="header">
    <div>   
    <a href="index.html"><img id="logo" src="../static/image/LogoRestaurant.jpeg" alt="LogoRestaurant" >
    </a> 
    </div>

    <div class="enlaces">
    <a id="link" href="index.html">Inicio</a>
    <a id="link" href="menu.html">Menú</a>
    <a id="link" href="registro.html">Registro</a>
    <a id="link" href="reservas.html">Reservas</a>
    <a id="link" href="reseñas.html">Reseñas</a>
    </div>

    <div>
        <a href="www.instagram.com" target="_blank"><i class="iconos fa-brands fa-instagram"></i></a>
        <a href="www.facebook.com" target="_blank"><i class="iconos fa-brands fa-facebook"></i></a>
        <a href="www.twitter.com" target="_blank"><i class="iconos fa-brands fa-twitter"></i></a>
        <a href="www.linkedin.com" target="_blank"><i class="iconos fa-brands fa-linkedin"></i></a>


    </div>


</div>

    <h1>Reseñas</h1>
    <h2>¡Nos encantaría saber tu opinión! Dejanos una reseña y contanos qué te pareció nuestro restaurante.</h2>

    <textarea style="width: 100%; width: 150px" placeholder="Escriba su reseña..."></textarea>
    <!--<input type="text" placeholder="Escriba su mensaje..." style="width: 100%; width: 150px">--> 
    <br>
    <a href="index.html">Volver</a>


<!-- FOOTER -->
<div id="footer">

    <div class="enlaces">
        <a id="link" href="index.html">Inicio</a>
        <a id="link" href="menu.html">Menú</a>
        <a id="link" href="registro.html">Registro</a>
        <a id="link" href="reservas.html">Reservas</a>
        <a id="link" href="reseñas.html">Reseñas</a>
    </div>
    <br>
    <div>
        <a href="www.instagram.com" target="_blank"><i class="iconos fa-brands fa-instagram"></i></a>
        <a href="www.facebook.com" target="_blank"><i class="iconos fa-brands fa-facebook"></i></a>
        <a href="www.twitter.com" target="_blank"><i class="iconos fa-brands fa-twitter"></i></a>
        <a href="www.linkedin.com" target="_blank"><i class="iconos fa-brands fa-linkedin"></i></a>
    </div>

 </div>
</body>
</html>