*{
    box-sizing: border-box;
    border-radius: 12px;

}

/* section */
#header{
    background-color: #8d4925;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

/* SLIDESHOW */

.slideshow {
    width: 100vw;
    height: 56vw;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideshow 15s ease-in-out infinite;
}

@keyframes slideshow {
    0% { background-image: url("/static/image/rest1.jpg"); }
    33% { background-image: url("/static/image/rest2.jpg"); }
    66% { background-image: url("/static/image/rest3.jpg"); }
    100% { background-image: url("/static/image/rest4.jpg"); }
}

#footer{
    background-color: #8d4925;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px 30px;
    margin: 8px 0px;
}

#logo{
    height: 90px;
    width: 90px;
    border-radius: 100px;
}

#link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 5px;
    transition: all 0.3s;
}

#link:hover{
    color: orange;
    font-size: 20px;
}

.iconos{
    color: #fff;
    font-size: 20px;
    margin: 5px;
    transition: all 0.3s;
}

.iconos:hover{
    color: orange;
    font-size: 25px;
}

/* MENU */
.menu{
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.tarjeta-comidas{
    border: solid 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tarjeta-comidas h1{
    text-align: center;
}

.container_opcion_comida{
    display: flex;
    gap: 12px;
    padding: 8px;
}

.opcion_comida{
    border: solid 2px;
    height: auto;
    width: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    transition: all 0.3s;
}

.opcion_comida:hover{
    border: solid 2px orange;
    cursor: pointer;
}

img{
    width: 80%;
    height: 200px;
}

#filtro{
    height: 50px;
    width: 1fr;
    background-color: rgb(180, 180, 180);
    padding: 8px;
    margin: 8px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px black;
}

/* formulario */

.registro-completo{
    font-family: 'montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
    background-image: url(/static/image/rest4.jpg);
    background-size: cover;
}

.container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
  }
  
  .information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #c57d56;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .info-childs {
    width: 100%;
    padding: 0 30px;
  }
  
  .info-childs h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .info-childs p {
    margin: 15px 0 ;
    color: #444;
  }
  
  .info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #ffb48a;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ffb48a;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .info-childs input:hover {
    background-color: #8d4925;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f0ecec;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .form-information-childs {
    padding: 0 30px;
  }
  
  .form-information-childs h2 {
    color: #333;
    font-size: 2rem;
  }
  
  .form-information-childs p {
    color: #555;
  }
  
  .icons {
    margin: 15px 0;
  }
  
  .icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd;
    border: solid thin #9191bd;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .icons i:hover {
    background-color: #c7c7f3;
    color: #fff;
  }
  
  .form {
    margin: 30px 0 0 0;
  }
  
  .form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
  }

  .form label i {
    color: #a7a7a7;
  }
  
  .form input[type="submit"] {
    background-color: #ffb48a;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .form input[type="submit"]:hover {
    background-color: #8d4925;
  }
  
  .hide {
    position: absolute;
    transform: translateY(-300%);
  }

/*PERSONALIZACION DE MIS ALERTAS Y MENSAJES */
.form div .alerta {
    width: 290px;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: .8rem;
  }
  
  .form > .alerta-error,
  .form > .alerta-exito {
    display: none;
  }
  
  .form .alertaError {
    display: block;
    background-color: #F66060;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
  }
  
  .form .alertaExito {
    display: block;
    background-color: #0ca828;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
  }
  
  .form .error {
    outline: solid 2px #9d2222;
  }

/* responsive form */
@media screen and (max-width:750px){
    html{
        font-size: 12px;
    }
    .info_childs h2{
        font-size: 28px;
    }
}
@media screen and (max-width:500px){
    html{
        font-size: 15px;
    }

    .container-form{
        height: auto;
        flex-direction: column;
    }
    .informacion{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }

    .form-informacion{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}