*{
    box-sizing: border-box;
}

/* section */
#header{
    background-color: green;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

#logo{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

#link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 5px;
    transition: all 0.3s;
}

#link:hover{
    color: orange;
    font-size: 20px;
}

.iconos{
    color: #fff;
    font-size: 20px;
    margin: 5px;
    transition: all 0.3s;
}

.iconos:hover{
    color: orange;
    font-size: 25px;
}

/* MENU */
.menu{
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.tarjeta-comidas{
    border: solid 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tarjeta-comidas h1{
    text-align: center;
}

.container_opcion_comida{
    display: flex;
    gap: 12px;
    padding: 8px;
    /* animation: slide 10s linear infinite;
    -webkit-animation: slide 10s linear infinite;
    white-space: nowrap; */
}

.opcion_comida{
    border: solid 2px;
    height: auto;
    width: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}

img{
    width: 80%;
    height: 200px;
}

/* @keyframes slide{
    0% {
        transform: translateX(100%);
    }
    
    100% {
        transform: translateX(-100%);
    }

    
} */
